html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(79, 210, 233);
    font-family: 'Noto Sans';
}
.dummy {
    background-color: rgb(53, 50, 224);
}

.nav {
    height: 50px;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    z-index: 999;
}

/* .foo {
    height: 50px;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;
    position: relative;
} */

a {
    text-decoration: none;
    color: whitesmoke;
}
  
a:active {
    color:rgb(175, 12, 12);
}
  
a:visited {
    color:whitesmoke;
}

a:hover {
    color: lightgreen;
}